.form {
    width: 550px;
}

.container {
    display: flex;
    color: inherit;
    font: inherit;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 47px;

}

.box:hover {
    background: rgba(185, 185, 185, 0.2);
}

.btn {
    display: flex;
    border: none;
    color: #545454;
    font-family: inherit;
    font-size: 15px;
    margin: 5px;
    padding: 9px 12px;
    width: 100%;
    background: rgba(157, 157, 157, 0.2);
    cursor: pointer;
}
.btn:hover {
    background: rgba(105, 105, 105, 0.2);
}